<div class="card">
  <img class="card-img-top" src="https://cdn.dicionariopopular.com/imagens/spoiler-alert.jpg">
  <div class="card-block">
    <div>
      <span class="badge badge-primary">
        {{filme.titulo}}
      </span>
    </div>
    <div>
      <span class="badge badge-danger">
        {{filme.genero}}
      </span>
    </div>

    <div>
      <span style="margin-left: 85px">
        <button class="btn btn-success btn-sm"> 
          <i class="fas fa-edit"></i>
        </button>
   
        <button class="btn btn-danger btn-sm">
          <i class="fas fa-trash"></i>
        </button>
      </span>
    </div>
    

  </div>
</div>