body{
    background-color: rgb(255, 255, 113);
}


p{
    background-color: green;
    color: rgb(30, 185, 30);
    text-decoration: green underline;
    text-align: center;
    font-size: 14pt;
}

h2{
    color: rgb(238, 191, 61);
    font-style: italic;
}

h4{
    text-align: justify;
}

.ex1{
    background-color: white;
    color: green;
    border: 2px dotted;
    border-color: black;
    border-radius: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height:27em;
}

.ex2{
    font-size: 50pt;
}

a{
    text-decoration: none;
    color: orange;
    font-size: 16pt;
}

