*{
    margin: 0;
    padding: 0;
}
 
#div0{
    color: white;
    width: 1950px;
    height: 1000px; 
}

#div1{
    color: white;
    font-style: italic;
    font-size: 150px;
    width: 600px;
    height: 200px;
    float: left;
   
}

#div2{
    background-color: green;
    color: white;
    width: 1320px;
    height: 200px;
    float: left;
    opacity: 0.4;
    position: relative;
}

#div3{
    /* background-color: rgb(57, 170, 57); */
    color: yellow;
    font-style: italic;
    font-size: 80px;
    width: 650px;
    height: 50px;
    opacity: 0.8;
    margin: 50px;
    padding: 0px 0px 50px 150px;
}

#div4{
    /* background-color: rgb(49, 179, 49); */
    color: white;
    width: 740px;
    height: 450px;
    /* opacity: 0.4; */
    margin:  0px 50px;
    padding: 30px;
    float: left;
    font-size: 20px;
}

#div5{
    color: white;
    font-style: italic; 
    font-size: 70px;
    width: 1050px;
    height: 50px;
    margin: 50px;
    padding: 0px 0px 50px 150px;
}

#div6{
    color: white;
    width: 1200px;
    height: 600px;
    /* opacity: 0.4; */
    padding: 30px;
    float: left;
    font-size: 20px;
}



a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: red;
}