.navbar {
  text-align: center;
  padding: 10px;
  background-color: #1e94d2;
  color: white;
  font-weight: bold;
}

.ape {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgb(179, 178, 178, 0.829);
}
